.featured {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  gap: 20px;
  z-index: 1;

  &-item {
    position: relative;
    color: var(--text-white);
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex: 1
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-titles {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
